@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(41, 169, 255);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    /* font-weight: 600; */
    /* background-color: hsla(198, 100%, 50%, 0.2); */
    /* color: hsl(212, 45%, 49%); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 2rem;
  }
}
